<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zzti.soft.scores.dao.AdminDao">
	<insert id="addIdentity" parameterType="java.util.List">
		INSERT identity(noid, identity.`name`, role, cla_id, cla_name) 
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.noid}, #{item.name}, #{item.role}, #{item.cla_id}, #{item.cla_name})  
		</foreach> 
	</insert>
	
	<insert id="addClasses" parameterType="java.util.List">
		INSERT classes(grade, classes_name, classes.`type`)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.grade}, #{item.classes_name}, #{item.type})  
		</foreach> 
	</insert>
	
	
	<update id="delIdentity" parameterType="java.util.List">
		UPDATE identity SET identity.`status` = '-1' WHERE  
		<foreach collection="list" item="item" index="index" separator="or" >  
			id = #{item }
		</foreach> 
		
		<!-- or 
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item }  
    	</foreach> 
    	-->
	</update>
	
	<insert id="addProjects" parameterType="java.util.List">
		INSERT project(project_name) 
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item})  
		</foreach> 
	</insert>
	
</mapper>  
       