<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <mapper namespace="cn.edu.zzti.soft.scores.dao.TeacherDao">
      	<select id="getPowerById" resultType="Project">
        SELECT * FROM project WHERE distribution_id=#{0} OR aggregate_id=#{0}
    </select>
        <select id="chooseTeacher" resultType="NumOfStuWithTea">
         SELECT identity.id,name,noid,role,phone,status,COUNT(tea_id) as num 
         FROM identity 
         LEFT JOIN score 
         ON identity.id=tea_id 
         GROUP BY identity.id 
         HAVING role="tea" AND status = 0
        </select>
        <select id="chooseClasses" resultType="NumOfClasses">
         SELECT classes.*,a.num
         FROM classes
         LEFT OUTER JOIN (select cla_id as c_id , count(cla_id) AS num 
         FROM identity group by cla_id) AS a 
         ON a.c_id=classes.id;
        </select>
        <select id="teaWithStu" resultType="IdentityWithScores">
         SELECT * FROM identity AS i 
         left join (select id AS score_id,stu_id,tea_id,pro_id,pro_name 
         from score) AS c 
         ON c.stu_id=i.id HAVING tea_id=#{0} AND pro_id=#{1} AND status =0
        </select>
      </mapper>  
       