<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <mapper namespace="cn.edu.zzti.soft.scores.dao.TeacherDao">
      	<select id="getPowerById" resultType="Project">
        SELECT * FROM project WHERE distribution_id=#{0} OR aggregate_id=#{0}
    </select>
        <select id="chooseTeacher" resultType="NumOfStuWithTea">
         SELECT identity.id,name,noid,role,phone,status,COUNT(tea_id) as num 
         FROM identity 
         LEFT JOIN score 
         ON identity.id=tea_id 
         GROUP BY identity.id 
         HAVING role="tea" AND status !=-1
        </select>
      </mapper>  
       