<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <mapper namespace="cn.edu.zzti.soft.scores.dao.TeacherDao">
      	<select id="getPowerById" resultType="Project">
        SELECT * FROM project WHERE distribution_id=#{0} OR aggregate_id=#{0}
    </select>
        <select id="chooseTeacher" resultType="NumOfStuWithTea">
        SELECT identity.id,name,noid,role,phone,status,COUNT(tea_id) as num 
         FROM identity 
         LEFT JOIN (select tea_id from score WHERE pro_id=#{0}) AS s
         ON identity.id=s.tea_id 
         GROUP BY identity.id 
         HAVING role="tea" AND status!=-1;
        </select>
        <select id="chooseClasses" resultType="NumOfClasses">
         SELECT classes.*,a.num
         FROM classes
         LEFT OUTER JOIN (select cla_id as c_id , count(cla_id) AS num 
         FROM identity WHERE status!=-1 group by cla_id) AS a 
         ON a.c_id=classes.id;
        </select>
        <select id="teaWithStu" resultType="IdentityWithScores">
         SELECT * FROM identity AS i 
         left join (select id AS score_id,stu_id,tea_id,pro_id,pro_name 
         from score) AS c 
         ON c.stu_id=i.id HAVING tea_id=#{0} AND pro_id=#{1} AND status!=-1
        </select>
        <select id="selectStuByClassId"  resultType="Identity">
         SELECT id,noid,name,sex,phone
         FROM identity 
         WHERE status!=-1 AND cla_id=#{0} 
         AND id NOT IN(SELECT stu_id FROM score WHERE pro_id =#{1});
        </select>
        <select id="selectClaByProId" resultType="NumOfClasses">
        SELECT * FROM classes AS c 
        JOIN(SELECT cla_id,cla_name, role,COUNT(cla_id) AS num FROM identity AS i  
        JOIN (SELECT stu_id  FROM score WHERE pro_id=#{0}) AS s 
        ON i.id=s.stu_id GROUP BY cla_id ) AS d ON c.id=d.cla_id;
        </select>
        <select id="proStuScore" resultType="IdentityWithScores">
        select id ,noid,name,sex,phone,cla_id,cla_name,role,status,s.* 
        FROM identity  AS i 
        LEFT JOIN(
        SELECT id AS score_id,stu_id,tea_id,tea_name,pro_id,pro_name,my_pro_name,usual_score,project_score,report_score,total_score,scores_status FROM score 
        WHERE pro_id=#{1}) AS s 
        ON i.id=s.stu_id  
        HAVING role="stu" AND status!=-1 AND cla_id=#{0};
        </select>
        <select id="myStudent" resultType="IdentityWithScores">
         SELECT * FROM identity AS i 
         join (select id AS score_id,stu_id,tea_id,tea_name from score WHERE tea_id=#{0} GROUP BY stu_id) AS c 
         ON c.stu_id=i.id HAVING status!=-1
        </select>
         <select id="myStudentScore" resultType="IdentityWithScores">
         SELECT * FROM identity AS i 
         left join (select id AS score_id,stu_id,tea_id,tea_name,pro_id,pro_name,my_pro_name,usual_score,report_status,
         comment,address,project_score,report_score,total_score,scores_status from score) AS c 
         ON c.stu_id=i.id  HAVING tea_id=#{0} AND status!=-1
        </select>
        <select id="myMrInfo" resultType="TeaRoom">
        SELECT * FROM tea_room WHERE identity_id=#{0}
        </select>
        <delete id="delTeaWithStu">
        DELETE FROM score WHERE id = #{0};
        </delete>
        <insert id="addTeaWithStu">
		INSERT score (
		stu_id,tea_id,pro_id,tea_name,pro_name
		)
		VALUES (
		#{stu_id},#{tea_id},#{pro_id},#{tea_name},#{pro_name}
		)
	  </insert>
      </mapper>  
       